{{ httpdata.category }}
<!-- <p class="text-primary">jhjkhjk</p> -->
<div class="container-fluid">
  <h2>Phones</h2>
  <div class="row">
    <div class="col-md-3" *ngFor="let row of httpdata">
      <div class="card shadow">
        <div class="card-body">
          <h2>
            <img src="/assets/{{ row.img }}" class="img-fluid w-100" alt="" />
          </h2>
          <h3>{{ row.title }}</h3>
          <p>{{ row.desc }}</p>
          <h3>KES {{ row.price }}</h3>
          <a href="/employees/{{ row._id }}" class="btn btn-warning"
            >READ MORE</a
          >
        </div>
      </div>
      <br /><br />
    </div>
  </div>
  <br /><br />
  <h2>Electronics</h2>
  <div class="row">
    <div class="col-md-3" *ngFor="let row of httpdata1">
      <div class="card shadow">
        <div class="card-body">
          <h2>
            <img src="/assets/{{ row.img }}" class="img-fluid w-100" alt="" />
          </h2>
          <h3>{{ row.title }}</h3>
          <p>{{ row.desc }}</p>
          <h3>KES {{ row.price }}</h3>
          <a href="/employees/{{ row._id }}" class="btn btn-warning"
            >DESCRIPTION</a
          >
        </div>
      </div>
      <br /><br />
    </div>
  </div>
  <br /><br />
  <h2>Women Clothing</h2>
  <div class="row">
    <div class="col-md-3" *ngFor="let row of httpdata2">
      <div class="card shadow">
        <div class="card-body">
          <h2>
            <img src="/assets/{{ row.img }}" class="img-fluid w-100" alt="" />
          </h2>
          <h3>{{ row.title }}</h3>
          <p>{{ row.desc }}</p>
          <h3>KES {{ row.price }}</h3>
          <a href="/employees/{{ row._id }}" class="btn btn-warning"
            >DESCRIPTION</a
          >
        </div>
      </div>
      <br /><br />
    </div>
  </div>

  <h2>Toiletries</h2>
  <div class="row">
    <div class="col-md-3" *ngFor="let row of httpdata3">
      <div class="card shadow">
        <div class="card-body">
          <h2>
            <img src="/assets/{{ row.img }}" class="img-fluid w-100" alt="" />
          </h2>
          <h3>{{ row.title }}</h3>
          <p>{{ row.desc }}</p>
          <h3>KES {{ row.price }}</h3>
          <a href="/employees/{{ row._id }}" class="btn btn-warning"
            >DESCRIPTION</a
          >
        </div>
      </div>
      <br /><br />
    </div>
  </div>

  <h2>Women Clothing</h2>
  <div class="row">
    <div class="col-md-3" *ngFor="let row of httpdata4">
      <div class="card shadow">
        <div class="card-body">
          <h2>
            <img src="/assets/{{ row.img }}" class="img-fluid w-100" alt="" />
          </h2>
          <h3>{{ row.title }}</h3>
          <p>{{ row.desc }}</p>
          <h3>KES {{ row.price }}</h3>
          <a href="/employees/{{ row._id }}" class="btn btn-warning"
            >DESCRIPTION</a
          >
        </div>
      </div>
      <br /><br />
    </div>
  </div>

  <br />
  <h2>Top Picks For you</h2>
  <div class="container-fluid">
    <div fxLayout="row">
      <div fxFlex="100">
        <ng-image-slider
          #nav
          [images]="imgCollection"
          [infinite]="true"
          [autoSlide]="1"
          [imageSize]="{ width: '30%', height: '30%' }"
        >
        </ng-image-slider>
      </div>
    </div>
  </div>
  <br /><br />

  <div>
    <p-carousel
      [value]="products"
      [numVisible]="4"
      [numScroll]="4"
      [circular]="false"
      [autoplayInterval]="10000"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template pTemplate="header"> </ng-template>
      <ng-template let-product pTemplate="item">
        <div class="product-item">
          <div class="product-item-content">
            <div class="p-mb-3">
              <img
                class="product-image"
                src="/assets/{{ product.img }}"
                alt="{{ product.title }}"
              />
            </div>
            <div>
              <h4 class="p-mb-1">{{ product.title }}</h4>
              <h6 class="p-mt-0 p-mb-3">{{ product.price }}</h6>
              <div class="car-buttons p-mt-5">
                <p-button
                  type="button"
                  styleClass="p-button p-button-rounded p-mr-2"
                  icon="pi pi-search"
                ></p-button>
                <p-button
                  type="button"
                  styleClass="p-button-success p-button-rounded p-mr-2"
                  icon="pi pi-star"
                ></p-button>
                <p-button
                  type="button"
                  styleClass="p-button-help p-button-rounded"
                  icon="pi pi-cog"
                ></p-button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <h2>deals of the week</h2>
  <div>
    <p-carousel
      [value]="products1"
      [numVisible]="5"
      [numScroll]="5"
      [circular]="false"
      [autoplayInterval]="10000"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template pTemplate="header"> </ng-template>
      <ng-template let-product1 pTemplate="item">
        <div class="product-item">
          <div class="product-item-content">
            <div class="p-mb-3">
              <img
                class="product-image"
                src="/assets/{{ product1.img }}"
                alt="{{ product1.title }}"
              />
            </div>
            <div>
              <h4 class="p-mb-1">{{ product1.title }}</h4>
              <h6 class="p-mt-0 p-mb-3">{{ product1.price }}</h6>
              <div class="car-buttons p-mt-5">
                <p-button
                  type="button"
                  styleClass="p-button p-button-rounded p-mr-2"
                  icon="pi pi-search"
                ></p-button>
                <p-button
                  type="button"
                  styleClass="p-button-success p-button-rounded p-mr-2"
                  icon="pi pi-star"
                ></p-button>
                <p-button
                  type="button"
                  styleClass="p-button-help p-button-rounded"
                  icon="pi pi-cog"
                ></p-button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
