{{ httpdata.category }}
<!-- <p class="text-primary">jhjkhjk</p> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" *ngFor="let row of httpdata">
      <div class="card shadow">
        <div class="card-body">
          <h2>
            <img src="/assets/{{ row.img }}" class="img-fluid w-100" alt="" />
          </h2>
          <h3>{{ row.title }}</h3>
          <p>{{ row.desc }}</p>
          <h3>KES {{ row.price }}</h3>
          <a href="/employees/{{ row._id }}" class="btn btn-warning"
            >READ MORE</a
          >
        </div>
      </div>
      <br /><br />
    </div>
  </div>
  <br /><br />
  <h2>Electronics</h2>
  <div class="row">
    <div class="col-md-3" *ngFor="let row of httpdata1">
      <div class="card shadow">
        <div class="card-body">
          <h2>
            <img src="/assets/{{ row.img }}" class="img-fluid w-100" alt="" />
          </h2>
          <h3>{{ row.title }}</h3>
          <p>{{ row.desc }}</p>
          <h3>KES {{ row.price }}</h3>
          <a href="/employees/{{ row._id }}" class="btn btn-warning"
            >READ MORE</a
          >
        </div>
      </div>
      <br /><br />
    </div>
  </div>
</div>
