<!-- <mat-toolbar *ngIf = "isLogged()">
  <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="row mr-2 ml-auto">
      <ul class="row text-center">
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <img src="/assets/user.jpg" alt="" class="user-image" />tOM
            <mat-icon class="user-image-icon">keyboard_arrow_down</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click) ="Logout()">
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
            <button mat-menu-item>
              <mat-icon>person_pin</mat-icon>
              Profile
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar> -->

<!-- <div id="header-container">
  <div id="left-half" routerLink="/">
    <h1>
      <span id="lime-text">Linah</span><span id="store-text">Stores</span>
    </h1>
  </div>
  <div id="right-half">
    <div id="button-container" *ngIf="showButtons">
      <button mat-icon-button color="primary" aria-label="shopping cart">
        <mat-icon
          [matBadge]="cartAmount"
          matBadgeColor="accent"
          aria-label="shopping cart"
          routerLink="/cart"
          >shopping_cart</mat-icon
        >
      </button>
      <button
        mat-icon-button
        color="primary"
        aria-label="login"
        *ngIf="!isLogged"
      >
        <mat-icon aria-label="login" matTooltip="login" routerLink="/login"
          >login</mat-icon
        >
      </button>
      <button
        mat-icon-button
        color="primary"
        aria-label="logout"
        *ngIf="isLogged"
        (click)="Logout()"
      >
        <mat-icon aria-label="logout" matTooltip="logout">Logout</mat-icon>
      </button>
    </div>
  </div>
</div> -->

<header>
  <!-- contact content -->
  <div class="header-content-top">
    <div class="content">
      <span><i class="fas fa-phone-square-alt"></i> (00)0000-0000</span>
      <span><i class="fas fa-envelope-square"></i>email@email.com.br</span>
    </div>
  </div>
  <!-- / contact content -->
  <br />
  <div class="container">
    <!-- logo -->
    <strong class="logo"></strong>
    <div class="logo"><img src="../../../assets/logo.jpg" alt="" /></div>
    <!-- open nav mobile -->

    <!--search -->

    <label class="open-search" for="open-search">
      <i class="fas fa-search"></i>
      <input
        class="input-open-search"
        id="open-search"
        type="checkbox"
        name="menu"
      />

      <div class="search">
        <button class="button-search"><i class="fas fa-search"></i></button>
        <input
          type="text"
          placeholder="What are you looking for?"
          class="input-search"
        />
      </div>
    </label>
    <!-- // search -->
    <nav class="nav-content">
      <!-- nav -->
      <ul class="nav-content-list">
        <li class="nav-content-item account-login">
          <label class="open-menu-login-account" for="open-menu-login-account">
            <input
              class="input-menu"
              id="open-menu-login-account"
              type="checkbox"
              name="menu"
            />

            <i class="fas fa-user-circle"></i
            ><span class="login-text"
              >Hello, Sign in <strong>Create Account</strong></span
            >
            <span class="item-arrow"></span>

            <!-- submenu -->
            <ul class="login-list">
              <li class="login-list-item">
                <a href="https://www.cupcom.com.br/">My account</a>
              </li>
              <li class="login-list-item">
                <a href="https://www.cupcom.com.br/">Create account</a>
              </li>
              <li class="login-list-item">
                <a href="https://www.cupcom.com.br/">logout</a>
              </li>
            </ul>
          </label>
        </li>

        <li class="nav-content-item">
          <a class="nav-content-link" href="https://www.cupcom.com.br/"
            ><i class="fas fa-heart"></i
          ></a>
        </li>
        <li class="nav-content-item">
          <a class="nav-content-link" href="https://www.cupcom.com.br/"
            ><i class="fas fa-shopping-cart"></i
          ></a>
        </li>
        <!-- call to action -->
      </ul>
    </nav>
  </div>
  <!-- nav navigation commerce -->
  <br />
  <div class="nav-container">
    <nav class="all-category-nav">
      <label class="open-menu-all" for="open-menu-all">
        <input
          class="input-menu-all"
          id="open-menu-all"
          type="checkbox"
          name="menu-open"
        />
        <span class="all-navigator"
          ><i class="fas fa-bars"></i> <span>All category</span>
          <i class="fas fa-angle-down"></i>
          <i class="fas fa-angle-up"></i>
        </span>

        <ul class="all-category-list">
          <li class="all-category-list-item">
            <a href="https://www.cupcom.com.br/" class="all-category-list-link"
              >Smartphones<i class="fas fa-angle-right"></i
            ></a>
            <div class="category-second-list">
              <ul class="category-second-list-ul">
                <li class="category-second-item">
                  <a href="https://www.cupcom.com.br/">Iphone 10</a>
                </li>
                <li class="category-second-item">
                  <a href="https://www.cupcom.com.br/">Galaxy Note 10</a>
                </li>
                <li class="category-second-item">
                  <a href="https://www.cupcom.com.br/">Motorola One </a>
                </li>
                <li class="category-second-item">
                  <a href="https://www.cupcom.com.br/">Galaxy A80 </a>
                </li>
                <li class="category-second-item">
                  <a href="https://www.cupcom.com.br/">Galaxy M </a>
                </li>
                <li class="category-second-item">
                  <a href="https://www.cupcom.com.br/">Huaway P30 </a>
                </li>
              </ul>

              <div class="img-product-menu">
                <img src="https://i.ibb.co/Vvndkmy/banner.jpg" />
              </div>
            </div>
          </li>
          <li class="all-category-list-item">
            <a href="https://www.cupcom.com.br/" class="all-category-list-link"
              >Furniture <i class="fas fa-angle-right"></i
            ></a>
          </li>
          <li class="all-category-list-item">
            <a href="https://www.cupcom.com.br/" class="all-category-list-link"
              >Toys<i class="fas fa-angle-right"></i
            ></a>
          </li>
          <li class="all-category-list-item">
            <a href="https://www.cupcom.com.br/" class="all-category-list-link"
              >Computing<i class="fas fa-angle-right"></i
            ></a>
          </li>
          <li class="all-category-list-item">
            <a href="https://www.cupcom.com.br/" class="all-category-list-link"
              >Games<i class="fas fa-angle-right"></i
            ></a>
          </li>
          <li class="all-category-list-item">
            <a href="" class="all-category-list-link"
              >Automotive<i class="fas fa-angle-right"></i
            ></a>
          </li>
        </ul>
      </label>
    </nav>
    <nav class="featured-category">
      <ul class="nav-row">
        <li class="nav-row-list">
          <a href="https://www.cupcom.com.br/" class="nav-row-list-link"
            >Smartphones</a
          >
        </li>
        <li class="nav-row-list">
          <a href="https://www.cupcom.com.br/" class="nav-row-list-link"
            >furniture</a
          >
        </li>
        <li class="nav-row-list">
          <a href="https://www.cupcom.com.br/" class="nav-row-list-link"
            >Toys</a
          >
        </li>
        <li class="nav-row-list">
          <a href="https://www.cupcom.com.br/" class="nav-row-list-link"
            >Computing</a
          >
        </li>
        <li class="nav-row-list">
          <a href="https://www.cupcom.com.br/" class="nav-row-list-link"
            >Games</a
          >
        </li>
        <li class="nav-row-list">
          <a href="https://www.cupcom.com.br/" class="nav-row-list-link"
            >Automotive</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
