<footer>
  <div class="container-fluid">
    <div class="row cust-support-link">
      <div class="container">
        <div class="col-md-3">
          <div class="thumbnail">
            <img
              class="img-responsive"
              alt="freeHomeDelivery"
              title="freeHomeDelivery"
              src="../../../assets/delivery.png"
            />
          </div>
          <div class="panel-right">
            <h4>Delivery Everywhere</h4>
            <p>Let us deliver where you are</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <img
              class="img-responsive"
              alt="qualityAssurance"
              title="qualityAssurance"
              src="../../../assets/qa.png"
            />
          </div>
          <div class="panel-right">
            <h4>100% Value</h4>
            <p>Get value for every product</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <img
              class="img-responsive"
              alt="easyReturn"
              title="easyReturn"
              src="../../../assets/return.png"
            />
          </div>
          <div class="panel-right">
            <h4>7 Days Easy Return</h4>
            <p>Hassle Free Return Process.</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="thumbnail">
            <img
              class="img-responsive"
              alt="call24"
              title="call24"
              src="../../../assets/call.png"
            />
          </div>
          <div class="panel-right">
            <h4>Customer Care</h4>
            <p>
              +254 20 375 00 00 /<br />
              +254 78 900 08 61 /<br />
              +254 77 114 10 96
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- another row -->
    <div class="row">
      <div class="container static-page-link">
        <div class="col-md-2">
          <h6>Privacy Info</h6>
          <a href="/" target="_blank">Privacy Policy</a>
          <a href="/">Return & Refund Policy</a>
          <a href="/">Terms and Conditions</a>
        </div>

        <div class="col-md-2">
          <h6>Company</h6>
          <a href="/">About Us</a>
          <a href="/">Press</a>
          <a href="/">Careers</a>
          <a href="/">Sitemap</a>
          <a href="" target="_blank">Blog</a>
        </div>

        <div class="col-md-2">
          <h6>Stay Connected</h6>
          <a href="/" target="_blank"><i class="fab fa-twitter"></i>Twitter</a>
          <a href="/" target="_blank"
            ><i class="fab fa-facebook-f"></i>Facebook</a
          >
          <a target="_blank" href="/"
            ><i class="fab fa-linkedin-in"></i>LinkedIn</a
          >
          <a href="/" target="_blank"
            ><i class="fab fa-instagram" aria-hidden="true"></i>Instagram</a
          >
          <div class="text-center">
            <a href="/" class="app-store-icon"
              ><img
                src="../../../assets/play.png"
                alt=""
                class="img-responsive"
            /></a>
            <a href="/" class="app-store-icon"
              ><img
                src="../../../assets/appstore.png"
                alt=""
                class="img-responsive"
            /></a>
          </div>
        </div>

        <div class="col-md-2">
          <h6>Subscribe Newsletter</h6>
          <p>
            Subscribe to our newsletter to receive special offers and latest
            news.
          </p>
          <div class="form-group">
            <div id="error_msg" class="errorLClass"></div>
            <div class="col-xs-12 col-md-12 col-lg-6">
              <input
                type="email"
                class="form-control"
                id="newsLetteremail"
                placeholder="Enter Email Id"
                required="required"
              />
            </div>
            <div class="col-xs-6 col-md-6 col-lg-3">
              <button
                type="button"
                id="M"
                class="btn btn-orange btn-block btn-subscribe"
                name="submit"
              >
                MALE
              </button>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-3">
              <button
                type="button"
                id="F"
                class="btn btn-orange btn-block btn-subscribe"
                name="submit"
              >
                FEMALE
              </button>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row bg-green">
      <div class="container text-center copyright">
        2022 Copyright &copy; Linah Limited.
      </div>
    </div>
  </div>
</footer>
